@model UserDetailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>Kullanıcı Profil Bilgisi</h3>
    <div class="alert alert-info">Kullanıcı ID: @Model.ID</div>
    <div class="alert alert-warning">Kullanıcı Adı: @Model.Name</div>
    <div class="alert alert-info">Kullanıcı Adı Soyadı: @Model.Name @Model.Surname</div>
    <div class="alert alert-warning">Email Adresi: @Model.Email</div>
</div>
